@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=Roboto:wght@500&display=Rokkitt:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Rokkitt-Black';
    src: url('./fonts/Rokkitt-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Rokkitt-Bold';
    src:url('./fonts/Rokkitt-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Rokkitt-Medium';
    src:url('./fonts/Rokkitt-Medium.ttf') format('truetype');
}

.rokkitt {
    font-family: 'Rokkitt-Medium', sans-serif;
}
.dfg {
    font-family: 'Rokkitt', sans-serif;
}

.roboto {
font-family: 'Roboto', sans-serif;
}


.custom-padding {
    padding: 12px 24px;
}


.custom-padding-2 {
    padding: 37px 74px;
}




.banner-text {
    background: -webkit-linear-gradient(0deg, rgba(201, 201, 201, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(90deg, rgba(201, 201, 201, 1) 0%, rgba(255, 255, 255, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.banner-text-secondary {
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(252, 200, 34, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.pt-custom-top{
   padding-top: 215px;
}
.bg-signup {
    background-image: url("images/signup.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.categories {
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 3px 7px 0px rgba(0, 0, 0, 0.10), 0px 13px 13px 0px rgba(0, 0, 0, 0.09), 0px 29px 17px 0px rgba(0, 0, 0, 0.05), 0px 51px 20px 0px rgba(0, 0, 0, 0.01), 0px 80px 22px 0px rgba(0, 0, 0, 0.00);
}

.signup-btn {
    border-radius: 9.719px;
    border: 0.694px solid rgba(0, 0, 0, 0.04);
    background: #33B6EE;
    box-shadow: 0px 2.777px 5.554px 0px rgba(0, 0, 0, 0.04);
}

.my-custom-swiper .swiper-pagination-bullet {
    background-color:rgba(103, 103, 103, 1)!important;
    width: 20px !important;
    height: 20px !important;
}

.my-custom-swiper .swiper-pagination-bullet-active {
    background-color: #FBE04B !important;
    width: 20px !important;
    height: 20px !important;
}

.bg-swiper {
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.50);
}

.gap-custom-top-8 {
    gap: 60px;
}

.bg-swipers {
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.50);

    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 3px 7px 0px rgba(0, 0, 0, 0.10), 0px 13px 13px 0px rgba(0, 0, 0, 0.09), 0px 29px 17px 0px rgba(0, 0, 0, 0.05), 0px 51px 20px 0px rgba(0, 0, 0, 0.01), 0px 80px 22px 0px rgba(0, 0, 0, 0.00);

}
