@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=Rokkitt:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.dfg {
    font-family: 'Rokkitt', sans-serif;
}
.custom-padding {
    padding: 12px 24px;
}


.custom-padding-2 {
    padding: 37px 74px;
}

@font-face {
    font-family: 'Rokkitt-Black';
    src: url('./fonts/Rokkitt-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Rokkitt-Bold';
    src:url('./fonts/Rokkitt-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Rokkitt-Medium';
    src:url('./fonts/Rokkitt-Medium.ttf') format('truetype');
}

.rokkitt {
    font-family: 'Rokkitt-Medium', sans-serif;
}


.banner-text {
    background: -webkit-linear-gradient(0deg, rgba(201, 201, 201, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(90deg, rgba(201, 201, 201, 1) 0%, rgba(255, 255, 255, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.banner-text-secondary {
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(252, 200, 34, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}